.Burger{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e5e5;
  transform: translateX(-100%);
  transition: transform 0.15s ease-in-out;
  z-index: 1000;

  .ui.grid>.row{
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.Burger--open {
  transform: translateX(0);
}

.Burger__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.Burger__header {
  padding: 20px;
  margin-bottom: 50px !important;
  border-bottom: 1px solid #e5e5e5;
  flex: 0 0 auto;
  display: inline-block;
}
