#doubleimagewithtext{
  margin: 50px 0px;

  #grid{
    vertical-align: middle;
  }

  .header{
    padding: 10px 0px
  }

  .italic{
    font-style: italic;
  }

  #container{
    padding: 20px 0px;
  }

  #divider{
    width: 100px
  }

}
