#collection{
  .content{
    padding-top: 2em;
  }

  .ui.card, .ui.cards>.card{
    box-shadow: none;
  }

  .sale {
    text-decoration: line-through;
    padding-left: 10px;
    color: red;
  }


}
