#new_arrivals{

  margin: 10% 5%;
  padding: 0 50px;

  #title{
    text-align: center;
  }

  .slick-prev, .slick-next{
    background-color: transparent !important;
  }

  .slick-prev {
    left: -37px;
  }

  .slick-prev:before, .slick-next:before{
    font-size: 30px !important;
    color: black !important;
    background-color: transparent !important;
  }

  #multi_card_container{
    padding: 0 5px;

    .square {
      display: inline-block;
      width: 240px;
      height: 240px;
      padding-bottom: 20px;
      background-position: center center;
      background-size: cover;
    }

    .zoom {
      transition: all .5s ease-in-out; /* Animation */
      z-index: 999;
    }

    .zoom:hover {
      transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    p{
      text-decoration: none;
    }

    #multi_card_body{
      text-align: center;
    }

  }

}
