#collection {
  margin: 50px 0px;

  #menuName{
    padding: 10px 0px;
  }

  #divider {
    width: 100px;
    position: absolute;
    right: 10px;
  }

  #menuTitle{
    margin-bottom: 40px
  }

  #grid{
    vertical-align: middle;
  }

}
