#checkoutcart{
  .contentTitle{
    text-align: left;
    padding-top: 5px ;
    padding-bottom: 5px;
  }
}

#qtyCloumn{
  padding-left: 5px;
  padding-right: 5px;
}

#productName{
  display: table-cell;
  vertical-align: middle;
}
