#shipping{
  padding-top: 25px;
}

.not_disabled{
  color: #000 !important;
}

.breadcrumb{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.2rem;
}

.disabled{
  color: #ddd;
}

.Popup__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.modalContent{
  color: black;
}
