#shipping{
  padding-top: 25px;
}

.not_disabled{
  color: #000 !important;
}

.breadcrumb{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.2rem;
}

.disabled{
  color: #ddd;
}
