@import '../../global';

#leftColumn{
  .image-gallery-custom-left-nav, .image-gallery-custom-right-nav{
    color: #fff;
    cursor: pointer;
    z-index: 4;
    position: absolute;
    text-shadow: 0 1px 1px #1a1a1a;
    transition: color .2s ease-out;
  }

  .image-gallery-custom-left-nav:hover, .image-gallery-custom-right-nav:hover{
    color: $main-header-color;
  }

  .image-gallery-custom-left-nav{
    left: 0;
    padding: 50px 15px;
    top: 50%;
  }

  .image-gallery-custom-right-nav{
    right: 0;
    padding: 50px 15px;
    top: 50%;
  }

  .image-gallery-image{
    display: table-cell;
    vertical-align: middle;
    text-align: center
  }
}
