#product{
  margin: 50px 0px;
  padding-top: 50px;
  padding-bottom: 250px;

  h1{
    text-align: center;
  }

  h5{
    margin-top: 26px;
    margin-bottom: 15px;
  }

  #rightColumn{
    .productTitle{
      padding-top: 25px;
    }
    .productPrice{
      margin: 0px;
    }

    #variants{
      margin: 0px;
      list-style-type: none;
      display: inline-flex;
    }
    #rating{
      margin: 10px 0px;
    }

    i{
      border: none !important;
    }

    #productDetails{
      padding-top: 50px;
      .ui.styled.accordion, .ui.styled.accordion .accordion{
        border-radius: none;
        background: inherit;
        box-shadow: none;
      }
      #accordionIcon{
        float: right;
      }
    }


    .AddToCartButton{
      margin-top: 30px;
      min-height: 44px;
      width: 100%;
      margin-bottom: 20px;
      padding: 7.5px 8px;
      border: 1px solid #222;
      border-radius: 0;
      font: 700 2rem/1.36 helvetica,arial,sans-serif;
      letter-spacing: .05rem;
      text-align: center;
      color: #fff;
      background-color: #222;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
    }
    .size{
      border: 1px solid #aaa;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
      cursor: pointer;
      min-width: 38px;
      max-width: 100%;
      margin: 0 5px 5px 0;
      padding: 10px;
      color: #767676;
      line-height: 1.7;
      background-color: #fff;
    }
    .size:hover{
      color: #212121;
      border: 1px solid #212121;
    }
    .size.active{
      color: #212121;
      border: 1px solid #212121;
    }
  }
}
