// Colors
$main-background-color: #e9e8e847;
$main-font: 'Lato', sans-serif;
$main-font-color: #4D566D;
$main-header-font: 'Prata', serif;
$main-header-color: #39ccc5;



// Global Settings
body {
  background-color: $main-background-color;

  font-family: $main-font;
  font-weight: 300;

  h1, h2, h3, h4, h5, h6 {
    font-family: $main-header-font;
    color: $main-font-color;
  }

  a{
    text-decoration: none;
    color: $main-font-color;
  }
  a:hover{
    color: rgba(0,0,0,0.4)
  }
  .mainButton{
    margin: 25px 0px !important;
    border-radius: 30px !important;
    font-size: 1.3em !important;
    letter-spacing: 2px !important;
  }

  .mainFontColor{
    color: $main-font-color
  }

  .secondaryColor{
    color: $main-header-color !important;
  }

  .ui.header{
    color: $main-header-color;
  }

  .smallTopAndBottomPadding{
    padding: 10px 0px;
  }

  .TopAndBottomPadding{
    padding: 25px 25px;
  }

  .contentTitle{
    text-align: center;
    padding: 35px 0px;
  }

  .centerAlign{
    text-align: center;
  }

  .cursorPointer{
    cursor: pointer;
  }
  .onHoverTransparent {
    position: relative;
    color: $main-font-color;
    text-decoration: none;
  }

  .onHoverTransparent:before{
    opacity: .8;
    transition: all 0.4s ease-in-out 0s;
  }

  .onHoverTransparent:hover:before{

  }

  .onHoverItem {
    cursor: pointer;
    position: relative;
    color: $main-font-color;
    text-decoration: none;
  }
  .onHoverItem:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: $main-font-color;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .onHoverItem:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

}


// mixing & @medias
@mixin small() {
  @media only screen and (min-width: 320px) and (max-width: 374px) {
    @content;
  }
};

@mixin medium() {
  @media only screen and (min-width: 375px) and (max-width: 413px) {
    @content;
  }
}

@mixin large() {
  @media only screen and (min-width: 414px) and (max-width: 767px) {
    @content;
  }
}

@mixin ipad() {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin ipad-pro() {
  @media only screen and (min-width: 1024px)  and (max-width: 1366px){
    @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: 1367px){
    @content;
  }
}
