#blogs {
  margin: 10% 5%;

  #title{
    text-align: center;
  }

  .ui.card, .ui.cards>.card{
    box-shadow: none;
  }

  .buttonContainer{
    border-style: none;
    display: flex;
    justify-content: center;
  }

  .moreButton{
    width: 150px;
    margin-top: 50px;
    padding: 15px;
    border-radius: 50px;
  }

}

#blog {
  padding: 50px 0px;

  #social-share{
    display: inline-flex;
    justify-content: center;
  }
  .social-padding{
    padding: 0px 5px;
    cursor: pointer;

  }
}
